<hello name="{{ name }}"></hello>

<ngx-datatable
  class="material fullscreen"
  [rows]="rows"
  [style.backgroundColor]="tableProperties.backgroundColor"
  [style.color]="tableProperties.bodyFontColor || basicProperty.fontColor"
  [style]="
    'height: 100%;overflow-y: visible;--row-selection-color:' +
    selectionBackgroundColor +
    ';'
  "
  appDatatableCellStyles
  #appDatatableCellStyles
>
  <!-- Columns and Rows -->
  <ngx-datatable-column
    [prop]="columna.prop"
    [headerClass]="'default-column'"
    [cellClass]="'default-color'"
    #dtcolumn
    *ngFor="let columna of columnsProperties.columns; let colIndex = index"
  >
    <!-- Columns Template -->
    <ng-template
      let-column="column"
      let-sort="sortFn"
      ngx-datatable-header-template
    >
      <span>
        {{ columna.name }}
      </span>
    </ng-template>
    <!-- Rows Template -->
    <ng-template
      let-rowIndex="rowIndex"
      let-row="row"
      ngx-datatable-cell-template
    >
      <div [id]="'row_' + rowIndex + '_col_' + colIndex">
        <span>
          {{ row[columna.prop] }}
        </span>
      </div>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>

<div>
  <input matInput #v1 placeholder="col" />
  <input matInput #v2 placeholder="row" />
  <button (click)="apply(v1.value, v2.value)">aplicar</button>
</div>
